/*
	Main
 */
* { box-sizing: border-box; }
body { max-width: 1920px; margin: 0 auto; font-family: 'Open Sans', sans-serif; font-size: 16px; min-width: 320px; position: relative; }
a { color: inherit; text-decoration: none; }
a:hover,
a:focus,
a:active { color: inherit; text-decoration: none; }
.wrapper { max-width: 1280px; margin: 0 auto; padding-left: 15px; padding-right: 15px; }
.material-icons { vertical-align: middle; }
/*
	Header
 */
header { background-color: #34495e; color: #ecf0f1; height: 50px; line-height: 50px; position: fixed; top: 0px; left: 0px; right: 0px; }
main { padding-top: 75px; padding-bottom: 75px; }
.nav { float: right; margin-left: 15px; }
.nav__item { display: inline-block; margin-left: 15px; }
.nav__item:hover { text-decoration: underline; }
/*
	List records
 */
.icon--red { color: #e74c3c; }
.icon--green { color: #16a085; }
.table { margin-bottom: 25px; }
.table-header { font-weight: bold; }
.row { display: flex; border-bottom: 1px solid #ececec; line-height: 35px; font-size: 16px; }
.cell { flex-grow: 1; flex-basis: 0; max-width: 100%; width: 10%; white-space: nowrap; overflow-x: auto; text-align: center; }
.cell-small { flex-basis: 8.33%; }
.cell-1 { flex-basis: 16.66%; }
.cell-2 { flex-basis: 33.33% }
.add-new { width: 100%; display: block; text-align: center; border: none; background-color: #2ecc71; padding-top: 8px; padding-bottom: 8px; border-radius: 5px; margin-top: 50px; transition: all 200ms; }
.add-new:hover { cursor: pointer; background-color: #29a05c; }
.add-new__icon { color: #ecf0f1; font-size: 36px; }
.fw { color: #ecf0f1; font-size: 24px; }
/*
	Add Record Form
 */
.form-item { padding: 0px; margin: 0px; display: block; width: 100%; box-sizing: border-box; margin-bottom: 10px; }
.record-type { line-height: 35px; height: 37px; font-size: 18px; border: 1px solid #bdc3c7; padding-left: 8px; }
.label { font-size: 14px; margin-bottom: 5px; }
.input { display: block; line-height: 35px; font-size: 18px; padding-left: 8px; border: 1px solid #bdc3c7; }
.added { display: none; }
.added.active { display: initial; }
/*
	Alerts
 */
.alert { width: 100%; padding: 15px 25px; box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.27); z-index: 5; margin-bottom: 15px; }
.alert--error { border: 1px solid #e74c3c; background-color: rgba(231, 76, 60, 0.2); color:#c0392b; }
.alert--success { border: 1px solid #27ae60; background-color: rgba(39, 174, 96, 0.01); color:#27ae60; }
/*
	Responsive
 */
@media (max-width: 991px) {
	.desktop { display: none; }
}
@media (max-width: 767px) {
	.row { font-size: 14px; }
}
@media (max-width: 420px) {
	.hide-xs { display: none; }
	header { height: auto; line-height: 25px; padding-top: 10px; padding-bottom: 10px; }
}
@media (max-width: 359px) {
	header { font-size: 14px; }
}